.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loginCard {
  /* border-radius: 6px; */
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 300px;
  height: fit-content;
  margin-top: 10%;
  background: #fff;
}

.loginTitle {
  text-align: left;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.label {
  font-weight: bold;
  font-size: 14px;
}

.input {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input:focus {
  border-left: 2px solid #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.buttonsRow {
  display: flex;
  gap: 10px;
}

.buttonPrimary {
  background: #000;
  border-radius: 0;
  padding: 5px 10px;
  width: fit-content;
  border: 1px solid #000;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.buttonPrimary:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.buttonPrimary:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.buttonSecondary {
  background: #fff;
  border-radius: 0;
  padding: 5px 10px;
  width: fit-content;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease-in-out;
  outline: none;
  text-decoration: none;
  font-size: 13px;
}

.buttonSecondary:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.buttonSecondary:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}