.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loginCard {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 300px;
  height: fit-content;
  margin-top: 10%;
  background: #fff;
}

.loginTitle {
  text-align: left;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.buttonsRow {
  display: flex;
  gap: 10px;
}

.register {
  font-size: 12px;
  color: #000;
  margin: 0;
}

.register > a {
  color: #000;
  font-weight: bold;
}