.container {
  display: flex;
  height: 50px;
  flex: 1;
  background: var(--primary-color);
  color: #000000;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.footerTxt {
  font-size: 12px;
}