.container {
  display: flex;
  height: 50px;
  flex: 1;
  background: var(--primary-color);
  color: #000000;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.logo,
.logo:visited {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.link,
.link:visited {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
}
